<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.sns.like.dao.LikeDAO">

	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`userId`
			,`postId`
			,`createdAt`
		)
		VALUES
		(
			#{userId}
			,#{postId}
			,NOW()
		)
	</insert>
	
	<select id="selectLikesByPostId" parameterType="int" resultType="int">
		SELECT COUNT(1)
		FROM `like`
		WHERE 
			`postId` = #{postId}
		
	</select>
	
	<select id="getLikesByPostIdUserId" parameterType="map" resultType="int">
		SELECT COUNT(1)
		FROM `like`
		WHERE 
			`postId` = #{postId}
			AND `userId` = #{userId}
		
	</select>
	
	<select id="selectLikeListByPostId" resultType="com.sns.like.model.Like"> 
		SELECT 
			`userId`
			,`postId`
			,`createdAt`
		FROM 
			`like`
		WHERE 
			`postId` = #{postId}
	</select>
	
	<delete id="deleteLikeByPostIdUserId" parameterType="map">
		DELETE FROM
			`like`
		WHERE
			`userId` = #{userId}
			AND `postId` = #{postId}
	</delete>
	
	<delete id="deleteLikeByPostId">
		DELETE FROM
			`like`
		WHERE
			`postId` = #{postId}	
	</delete>
</mapper>